

html, body {
    /* max-width: 100%; */
    /* overflow-x: hidden; */
    user-select: none;
    scroll-behavior: smooth;
}
/* Header */

#header {
    padding: 40px 90px 40px 90px;
}

#header img {
    width: 120px;
}

#mobnav {
    display: none;
}

#header-right {
    float: right;
}

#widenav a {
    font-size: 115%;
    padding: 10px;
    /* text-transform: uppercase; */

    font-family: 'Poppins', sans-serif;
    color: rgb(114, 114, 114);

    cursor: pointer;

    position: relative;
    top: 10px;
}

.active-link, #widenav a:hover {
    color: rgb(48, 48, 48) !important;
}

#drawer {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(255, 255, 255); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
    box-shadow: 2px 0px 5px 0px rgba(153, 153, 153, 0.75);
    user-select: none;
    z-index: 5;

}

#drawer a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    
}

#drawer a:hover {
    color: #1d1d1d;
}

#closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 196% !important;
}

#closebtn:hover {
    color: #000;
}



.video {
    display: none;
}




/* end of header */

/* intro */

#intro {
    padding: 100px 5px 40px 90px;
}

#intro .text-mob {
    display: none;
}

#intro .text-wide p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(0,0,0,0.55);
    letter-spacing: 1px;
    font-size: 115%;
    margin-bottom: -30px;
    line-height: 40px;
}

#intro .text-mob p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(0,0,0,0.35);
    letter-spacing: 1px;
    margin-top: 130px;
    margin-bottom: 30px;
    text-align: center;
}

#intro .text-wide h2 {
    font-size: 280%;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 40px;
    line-height: 70px;

}

#intro .text-mob h2 {
    font-size: 180%;
    font-family: 'Barlow', sans-serif;
    /* margin-bottom: 20px; */
    text-align: center;
    line-height: 35px;
}

#intro .text-wide .dark {
    color:  rgba(0, 0, 0, 0.61) !important;
    font-size: 115% !important;
    line-height: 36px !important;
    text-transform: none !important;
}
#intro .text-mob .dark {
    color:  rgba(0, 0, 0, 0.61) !important;
    font-size: 100% !important;
    line-height: 30px !important;
    text-transform: none !important;
    text-align: center;
    margin-top: 30px !important;
}




#intro .artwork {
    float: right;
}

#intro-mask {
    width: 500px;
    position: relative;
    top: -440px;
    right: 20px;
    display: none;
}

#intro-video {
    width: 645px;
    position: relative;
    top: -415px;
    display: block;
    z-index: -1;
}

.store img {
    width: 180px;
    padding-top: 20px;
}

/* end of intro */


/* explainer */

#explainer{
    padding-bottom: 10%;
}

 #explainer h3, #about h2, #stat h2, #reviews h2, #awards h2 {
    text-align:center;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    width: 250px;
    display: block !important;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 80px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.55);
}


#explainer h2 {
    text-align:center;
    font-size: 240%;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    width: 280px;
    display: block !important;
    margin: 0 auto;
    margin-bottom: 80px;
}

#explainer-mask {
    vertical-align: middle;
  
}

#explainer-mask img {
    width: 45%;
    position: relative;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.219);
    margin-top: -50px;
    margin-left: 27%;

}

#explainer-embed-wrap {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#explainer-embed {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


.iframe-container{
  position: relative;
  width: 80%;
  padding-bottom: 36.25%; 
  height: 0;
  /*padding-left: 50%;*/
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 85%;
  height: 95%;
}

#closevid {
    float: right;
    text-decoration: none;
    color: #fff;
}

#closevid:hover {
    color: rgb(228, 228, 228);
}

#youtube {
    height: 515px;
    width: 760px;
}

#play-explainer {
  cursor: pointer;
  position: relative;
  margin: 0;
  font-size: 400%;
  /* top: -450px; */
  /* left: 50%; */
  transform: translate(-50%, -50%); 
  position: relative;
}

/* end explainer */

/* about  */



#about {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 200px;
}
#abouthead{
    margin-top: -20px;
}
#about h3 {
    display: inline-block;
    font-size: 40px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.884);
    position: relative;
    top: -8px;
    margin-right: 8px;
    margin-bottom: 10px;
}

#about img {
    width: 110px;
}


#about p {
    font-family: 'Open Sans', sans-serif;
     letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.61);
    line-height: 38px;
    margin-bottom: 30px;
    font-size: 120%;
    width: 65%;
    display: block;
    margin: 0 auto;
}

#minions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

#minions video {
    width: 265px;
    margin-left: 30px;

    padding-top: 100px; 
}


/* about ends */

/* features */

#features {
    width: 100%;
    min-height: 700px;
    padding-top: 80px; 
}


#features .text {
    padding: 50px;
    padding-left: 120px;
    padding-top: 120px;
    width: 42%;
    float: left;
}

#features h2{
    text-align: left;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    
    font-weight: 400;
    color: rgba(0, 0, 0, 0.55);
    margin-bottom: -30px;

}


#features .text h1, #vision .text h1, #multilang h1, #reviews h1, #awards h1{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 70px;
    font-size: 270%;
    width: 100%;
}

#features .text p, #vision .text p , #multilang p{
    
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 115%;
    margin-top: 0px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.61);
}

#features .cards {
    float: left;
    width: 45%;
    /* min-height: 270px; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    position: relative;
    right: -8%;

    margin-bottom: 100px;
    

}

#features .card {
    min-width: 170px;
    width: 270px;
    height: 320px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 2%;
    padding: 20px;

    color: ivory;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#features .card2 {
    margin-top: -20%;
    margin-left: 2%;
}

#features .card i {
    font-size: 450%;
}

#features .card h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 160%;
    margin-top: 20px;
    line-height: 32px;
}

#features .card p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 115%;
    margin-top: -25px;
}

/*hover*/
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


/* feature ends */

/* vision */
#vision {
    height: 800px;
    padding-top: 300px;
}
#vision img {
    width: 44%;
    padding-left: 120px;
    float: left;
    padding-top: 100px;
}

#vision .text {
    width: 500px;
    float: left;
    position: relative;
    left: 7%;
    top: 80px;
    /* display: inline-block; */
}

#vision .text h2{
    text-align: left;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    /*width: 150px;*/
    /*display: block !important;*/
    /*margin: 0 auto;*/
    margin-bottom: -20px;
    margin-top: 80px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.55);
}

/* vision ends */

/* multilang */

#multilang {
    min-height: 700px;
    padding-top: 400px;
    /* background: pink; */
    /* padding-top: 30px; */
}

#multilang .left {
    float: left;
    width: 500px;
    margin-left: 120px;
    position: relative;
    top: 40px;
}

#multilang .left h2{
    text-align: left;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    /*width: 250px;*/
    /*display: block !important;*/
    /*margin: 0 auto;*/
    margin-bottom: -20px;
    margin-top: 80px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.55);

}

#multilang .right {
    position: absolute;
    left: 66%
}

#shuff img {
    width: 300px;
    position: absolute;
    transition: all 0.4s;
    margin-left: 70px;
    padding-top: 80px;
}

.front {
    width: 380px !important;
    margin-left: -150px !important;
    margin-top: -80px;
    z-index: 2;
}

#hindi, #kannad {

    height: 56px;
    font-size: 24px;
    /* width: 120px; */
    padding: 19px 45px 19px 45px;

    background: #f1f1f1;

    cursor: pointer;
    margin-top: 20px;
    
}

#hindi {
    border-radius: 30px 0px 0px 30px;
}

#kannad {
    border-radius: 0px 30px 30px 0px;
    position: relative;
    top: -1px;
}

.selected {
    background: #f73859 !important;
    color: #fff !important;
}

/* multilang end */

/* stats */

#stat {
    text-align: center;
    padding: 20px;
    padding-top: 450px;
}

#stat h1{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 70px;
    font-size: 270%;
    margin-top: -10px;
    /*width: 100%;*/
}

#statgrid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

#statgrid div {

    width: 260px;
    display: block;
    margin: 0 auto;
}

#statgrid div p {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 30px;
    letter-spacing: 1px;
}

#statgrid div h1 {
    font-family: 'Open Sans', sans-serif;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


/* stats ends */

/* reviews */

#reviews {
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    padding-top: 100px;
}

#reviews h1{
    width: 100%;
    margin-top: 0px;
}

#reviews .carousel-item img {
    width: 90px !important;
    /* height: 100px; */
    border-radius: 50%;
    position: relative;
    top: -50px;
}


#reviews .carousel-item .carda {
    /* background: #f5f5f5; */
    color: #020202;
    padding: 10px;;
    border-radius: 4px;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,.1) !important;
    opacity: 1;
    background: #fdfdfd;
    width: 140%;
}

#reviews .carousel-item .stars {
    position: relative;
    top: -50px;
    /* font-size: 100%; */
}
#reviews .carousel {
    overflow: initial !important;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    opacity: 1;
    letter-spacing: 1px;
}

#reviews .carousel-item b {
    position: relative;
    top: -40px;

}

#reviews .carousel-item p {
    position: relative;
    top: -20px;
}


#reviewslide {
    width: 100% !important;
    margin-left: -2%;
    margin-top: 5%;
    /* height: 900px; */
} 



/* end reviews */

/* awards */

#awards {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}
#awards h1{
    text-align: center;
    width: 100%;
    margin-top: -10px;
}

#award2 {
    position: relative;
    top: -140px;
}

/* end awards */

/* contact */
#contact {
    /*background-image: url('assets/others/black-thread.png');    */
    height: 600px;
    margin-top: -100px;
    /*background-color: rgb(250, 250, 250);*/
}
#contact .left {
    float: left;
    position: relative;
    margin-left: 120px;
    width: 35%;
    height: 100%;
    top: 90px;
    background: #fff;
    padding: 20px;
    /* top: -120px; */
    /* overflow: scroll; */
}

#textarea1 {
    width: 96%;
    margin-top: 10px;
    margin-bottom: 20px;
    resize:none;
}

#input1 {
    margin-left: -10px;
    border: none !important;
}


#contact .left input {
    margin-bottom: 40px;
    display: block;
    width: 90%;;
}


#contact .left input[placeholder], [placeholder], *[placeholder]
{
    color:#0f0f0f !important;
}
.theme-button {
  width: 190px;
  height: 50px;
  border-radius: 25px;
}
.theme-button input[type="submit"] {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  position: relative;
  z-index: 1;
  background: #f73859;
  cursor: pointer;
}

#contact .right {
    float: left;
    width: 35%;
    position: relative;
    left: -190px;
    /*background: #f73859;*/
    color: #0f0f0f;
    padding: 20px;
    top: 0px;
    height: 78%;
}

#contact .right h3 {
    font-size: 110%;
    opacity: .6;
    letter-spacing: 1px;
}
#contact .right h2 {
    font-size: 150%;
    opacity: .6;
    letter-spacing: 1px;
}


#contact .right h1 {
    font-size: 280%;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 70px;
    margin-top: -20px;
}

#contact .right img{
    width: 40%;
    height: auto;
    padding-bottom: 20px;

}

#contact .right a{

    padding-right: 10px;
    padding-top: 20px;
}

#contact .right .social-icon{

    margin-top: 100px;
}


/* form validation */
.alert-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  z-index: 9999999;
}
#success,
#error {
  position: relative;
  width:500px;
  height: 100px;
  top: calc(50% - 50px);
  left:calc(50% - 250px);
  background: rgba(0,0,0,0.8);
  text-align: center;
}
#success .wrapper,
#error .wrapper {
  display: table;
  width:100%;
  height: 100%;
}
#success .wrapper p,
#error .wrapper p{
  display: table-cell;
  vertical-align: middle;
  letter-spacing: 1px;
}
#success {
  color: #26ace3;
}
#error {
  color: #C9182B;
}
#error button,
#success button {
  color:#fff;
  width:40px;
  height:40px;
  line-height: 20px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 20px;
}
.form-validation label.error {display: none !important;}
.form-validation textarea.error,
.form-validation input.error {border-bottom:2px solid #f65353 !important;}


/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/





/*#tablets*/

/*@media (min-width: 768px) and (max-width: 1024px) {

    
    #header {
        padding: 40px 20px 40px 20px;
    }

    #header img {
        width: 150px ;
    }

    #widenav {
        display: none;
    }

    #mobnav {
        display: block;
        background: none;
        padding: 16px 32px 16px 32px;
        border: solid 1px #e3e3e3;
        line-height: 10px;
        color:  rgb(114, 114, 114);
        border-radius: 4px;

        position: relative;
        top: -1px;
    }

    #mobnav:hover {
        color:  rgb(46, 46, 46);

    }

   
    #intro {
        padding: 40px ;
    }
    #intro .text-wide {
        display: none;
    }

    #intro .text-mob {
        display: block;
    }
    #intro .text-mob h2{
        font-size: 300%;
        line-height: 60px;
    }
    #intro .text-mob p{
        font-size: 200%;
        margin-top: 65%;
    }
    #intro .text-mob .dark {
        font-size: 180% ;
        line-height: 55px ;
        width: 65%;
        margin-left: 17%; 
    }

    #intro-mask {
        display: none;
        width: 70%;
        top: initial ;
    }

    #intro-video {
        width: 80%;    
        top: initial ;
        margin-bottom: 20%;
    }
    #intro-mask, #intro-video {
        display: block;
        margin: 0 auto;
    }

    .store img {
        width: 220px ;
        display: block;
        margin: 0 auto;
        position: relative;
        margin-top: -40px ;
    }

    
    #explainer h2 {
        font-size: 300%;
        margin-top: 3%;
    }
    #explainer h3{
        font-size: 150%;
    }

    #youtube {
        height: 300px;
        width: 360px;
    }
    
    #explainer-mask img {
        width: 90% ;
        display: block;
        margin: 0 auto;
        
        position: relative;
        left: initial ;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.349);
    }

    #play-explainer {
      
        
        left: 50% ;
       
    }
    
    #about h2, #features h2, #vision h2, #multilang h2, #stat h2, #reviews h2, #awards h2 {
        font-size: 150% ;
        margin-top: 10%;
    }

    #about p {
        width: 80% ;
        font-size: 180% ;
        line-height: 55px ;
        margin-top: -16%;
    }

    #minions video {
        width: 220px;
        margin-bottom: 100%;
    }
    #about h3{
        font-size: 300%;
        margin-bottom: 20%;
    }

    #about img{
        width: 11%;
        margin-top: 2%;
    }

   
    } 
    #features {
        min-height: initial ;
        margin-top: -70%;

    }
    #features .text {
        float: initial ;
        padding: 0px ;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
     #features .text h1{
        font-size: 300%;
        line-height: 55px;
        text-align: center;
        padding: 40px ;
        margin-bottom: 5%;
        margin-top: -10%;
     }
     #features .text h2{
        letter-spacing: 1px;
        margin-bottom: -20%;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10%;
        margin-top: -30%;
     }

    #features .text p{
        padding: 40px ;
        font-size: 180%;
        width: 80%;
        margin-left: 10%;
        margin-top: -10%;
        margin-bottom: 20%;
        line-height: 55px;
    }

    #features .cards {
        float: initial ;
       
        text-align: center;;
        width: 79% ;
        margin-bottom: 80%;
        margin-left: 3%;
    }

    #features .card {
        
        display: block;
        margin: 0 auto ;
        margin-bottom: 20px ;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) ;
    }

    #features .cards .card2 {
        margin-left: -1% ;
        margin-top: -18% ;
    }

   



    #vision {
        height: initial ;
        margin-top: -90%;
    }

    #vision-swap {
        display: flex ;
        flex-flow: column-reverse;
    }
    #vision img {
        width: 80%;
        float: initial ;
        margin-bottom: 86%;
    }
    
    #vision .text {
        float: none;
        width: 80% ;
        display: block ;
        margin: 0 auto ;
        margin: 20px;
        position: initial ;
        left: initial ;
        top: initial ;
        text-align: center;


        

    }
    #vision .text h1{
        font-size: 300%;
        line-height: 55px;

    }
    #vision .text h2{
        text-align: center;
    }
    #vision .text p{
        font-size: 180%;
        line-height: 55px;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
    
    

    #multilang{
        margin-top: -110%;
    }

    #multilang .left {
        float: none ;
        width: 80% ;
        margin: 0 auto ;
        position: relative;
        top: 40px;
        text-align: center;
    }

    #multilang .left h2{
        text-align: center;
        margin-bottom: 2%;
    }

    #multilang .left h1{
        font-size: 300%;
        line-height: 55px;
    }

    #multilang .left p {
        font-size: 180%;
        line-height: 55px;
        margin-top: 5%;
    }

    #multilang .right {
        position: absolute;
        left: initial ;   
    }
    
    #shuff img {
        width: 300px;
        position: absolute;
        transition: all 0.4s;
        top: 40px;
        left: 350px;
        margin-top: 5%;
    }
    
    .front {
        width: 300px ;
        margin-top: -30px;
        z-index: 2;
        
        margin-left: -80px ;
    }

    
    #hindi, #kannad {
    
        height: 70px;
        font-size: 24px;
       
        padding: 19px 25px 19px 25px;
    
        background: #f1f1f1;
        cursor: pointer;
        margin-top: 20px;
        
    }
    
    #stat {
        margin-top: 850px;
        padding-top: 10px;
    }

    #stat .stathead {
        font-size: 300%;
        line-height: 55px;
        margin-bottom: 10%;
    }

    #stat h1{
        font-size: 300%;
        line-height: 55px;
    }

    #statgrid {
        grid-template-columns: auto ;
    }

    #statgrid div {
        margin-bottom: 60px ;
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #statgrid h1{
        padding-top: 15px;
    }

    #statgrid p {
        font-size: 380%;
        line-height: 55px;
    }
   

    #review{
       
    }
    #reviewslide {
        height: 750px;
        position: relative;
        top: -100px;
        left: -30px;
    }
    #reviews h1{
        font-size: 300%;
        line-height: 55px;
        margin-top: 4%;
    }
    #reviews .carousel {
        overflow: hidden ;

        
    }
    
    

    

    #awards{
        margin-top: -20px;
    }

    #awards h1{
        font-size: 300%;
        line-height: 55px;
        margin-top: 4%;
    }
    #awards .carousel{
        margin-top: -50px;
    }
    
   

    #contact {
        background-image: none ;
        height: initial ;
        background-color: #fff;
        display: flex ;
        flex-flow: column-reverse  ;
        
    }
    #contact .left {
        float: initial ;
       
        margin-left: initial ;
        width: 80% ;
        margin: 0 auto ;
        height: 70%;
        top: initial ;
        background: #fff;
        padding: 20px;
        margin-top: 140px ;
        margin-bottom: 40px ;
      
    }

    #contact .theme-button {
        margin-left: 0%;
    }

    #contact .right {
        float: initial ;
        width: 90%;
        margin: 0 auto ;
        left: initial ;
    }

    #contact .right h1{
        font-size: 300%;
        line-height: 55px;
        padding-top: 10px;
        text-align: center;
        margin-top: 2%;
    }

    #contact .right h2{
        text-align: center;
        font-size: 220%;
    }

    #contact .right h3 {
        font-size: 150%;
        text-align: center;
    }

    #contact .right img{
        display: block;
        margin: 0 auto;
        width: 30%;
    }

    #contact .right .socialicon{
        margin-left: 38%;
    }

    #contact .right a {
        margin-left: 20px;
    }

   

}*/



/*@media only screen and (max-width: 768px){

    #minions video {
        width: 240px;
        margin-bottom: 0%;
    }

    #about{
        margin-bottom: 100%;
    }


}*/




/* Mobile */
@media only screen and (max-width: 1024px) {

    /* header */
    #header {
        padding: 40px 20px 40px 20px;
    }

    #header img {
        width: 100px !important;
    }

    #widenav {
        display: none;
    }

    #mobnav {
        display: block;
        background: none;
        padding: 4px 8px 4px 8px;
        border: solid 1px #e3e3e3;
        line-height: 10px;
        color:  rgb(114, 114, 114);
        border-radius: 4px;

        position: relative;
        top: -1px;
    }

    #mobnav:hover {
        color:  rgb(46, 46, 46);

    }

    /* End of header */

    /* intro */
    #intro {
        padding: 40px !important;
    }
    #intro .text-wide {
        display: none;
    }

    #intro .text-mob {
        display: block;
    }

    #intro-mask {
        display: none !important;
        width: 70%;
        top: initial !important
    }

    #intro-video {
        width: 110%;    
        top: initial !important;
    }
    #intro-mask, #intro-video {
        display: block;
        margin: 0 auto;
    }

    .store img {
        width: 180px !important;
        display: block;
        margin: 0 auto;
        position: relative;
        margin-top: -40px !important;
    }

    /* intro ends */
    
    /* explainer */
    #explainer h2 {
        font-size: 180% ;
    }

    #youtube {
        height: 300px;
        width: 360px;
    }
    
    #explainer-mask img {
        width: 90% !important;
        display: block;
        margin: 0 auto;
        /* margin: 10px; */
        position: relative;
        left: initial !important;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.349);
    }

    #play-explainer {
      
        /* top: -450px; */
        left: 50% !important;
       
    }
    


    /* explainer ends */


    /* about */
    #about{
        margin-bottom: 35%;
    }
    #about h2, #features h2, #vision h2, #multilang h2, #stat h2, #reviews h2, #awards h2 {
    }

    #about p {
        width: 80% !important;
        font-size: 98% ;
        line-height: 35px !important;
    }

    #minions video {
        width: 150px;
    }
    #about h3{

        font-size: 180%;
    }

    #about img{
        width: 23%;
    }

    /* about ends */

    /* features */
    /* #features .text {
        float: initial !important;
        width: 100% !important;
        display: block !important;
        padding-left: 0px !important;
        width: 95%;
        margin: 0 auto !important;
        text-align: center !important;
    } */
    #features {
        min-height: initial !important;
        margin-top: -80%;

    }
    #features .text {
        float: initial !important;
        padding: 0px !important;
        width: 100%;
        margin: 0 auto;
        
        text-align: center;
    }
     #features .text h1{
        font-size: 180%;
        line-height: 35px;
        text-align: center;
        padding: 40px !important;
     }
     #features .text h2{
        letter-spacing: 1px;
        margin-bottom: -20%;
        /*margin-top: 80px;*/
        /*padding-left: 20px;*/
        font-weight: 400;
        text-align: center;

     }
    #features .text p{
        padding: 40px !important;
        margin-top: -15%;
    }
    

    

    #features .cards {
        float: initial !important;
        /* float: inline;; */
        /* width: 100%; */
        /* display: block; */
        /* background: red !important ; */
        /* margin: 0 auto; */
        text-align: center;;

        width: 85% !important;



    }

    #features .card {
        /* width: 300px; */
        display: block;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
    }

    /* features end */

    #vision {
        height: initial !important;
        margin-top: -90%;
    }

    #vision-swap {
        display: flex !important;
        flex-flow: column-reverse;
    }
    #vision img {
        width: 120%;
        float: initial !important;
        margin-left: -20%;

    }
    
    #vision .text {
        float: none;
        width: 80% !important;
        display: block !important;
        margin: 0 auto !important;
        margin: 20px;
        position: initial !important;
        left: initial !important;
        top: initial !important;
        text-align: center;


        /* text-align: center; */

    }
    #vision .text h1{
        font-size: 180%;
        line-height: 35px;

    }
    #vision .text h2{
        text-align: center;
        
    }
    #vision .text p{
        
    }
    
    /* vision ends */

    /* multilang  */

    #multilang{
        margin-top: -110%;
    }

    #multilang .left {
        float: none !important;
        width: 80% !important;
        margin: 0 auto !important;
        position: relative;
        top: 40px;
        text-align: center;
    }
    #multilang .left h2{
        text-align: center;
    }
    #multilang .left h1{
        font-size: 180%;
        line-height: 35px;
    }

    
    #multilang .right {
        position: absolute;
        left: initial !important;
        
    }
    
    #shuff img {
        width: 300px;
        position: absolute;
        transition: all 0.4s;
        top: 40px;
        left: -40px;
    }
    
    .front {
        width: 300px !important;
        margin-top: -30px;
        z-index: 2;
        /* background: red; */
        margin-left: 50px !important;
    }

    
    #hindi, #kannad {
    
        height: 70px;
        font-size: 24px;
        /* width: 120px; */
        padding: 19px 25px 19px 25px;
    
        background: #f1f1f1;
        cursor: pointer;
        margin-top: 20px;
        
    }

    /* multilang ends */

    /* stat */
    #stat {
        margin-top: 650px;
        padding-top: 10px;
    }
    #stat h1{
        font-size: 180%;
        line-height: 35px;
    }

    #statgrid {
        grid-template-columns: auto !important;
    }

    #statgrid div {
        margin-bottom: 60px !important;
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #statgrid h1{
        padding-top: 15px;
    }
    /* stat ends */

    /* reviews */

    #review{
        /*margin-top: -50px;*/
    }
    #reviewslide {
        height: 650px;
        position: relative;
        top: -100px;
        left: -30px;
    }
    #reviews h1{
        font-size: 180%;
        line-height: 35px;
    }
    #reviews .carousel {
        overflow: hidden !important;
        /* overflow-x: auto !important; */
    }
    
    /* end reviews */

    /*awards*/

    #awards{
        margin-top: -200px;
    }

    #awards h1{
        font-size: 180%;
        line-height: 35px;
    }
    #awards .carousel{
        margin-top: -50px;
    }
    
    /* contacts */

    #contact {
        background-image: none !important;
        height: initial !important;
        background-color: #fff;
        display: flex !important;
        flex-flow: column-reverse !important ;
        
    }
    #contact .left {
        float: initial !important;
        /* position: relative; */
        margin-left: initial !important;
        width: 80% !important;
        margin: 0 auto !important;
        height: 70%;
        top: initial !important;
        background: #fff;
        padding: 20px;
        margin-top: 140px !important;
        margin-bottom: 40px !important;
        /* top: -120px; */
        /* overflow: scroll; */
    }

    #contact .right {
        float: initial !important;
        width: 90%;
        margin: 0 auto !important;
        left: initial !important;

        

    }
    #contact .right h1{
        font-size: 180%;
        line-height: 35px;
        padding-top: 10px;
        text-align: center;
    }
    #contact .right h2,h3{
        text-align: center;
    }

    #contact .right img{
        display: block;
        margin: 0 auto;
    }
    #contact .right a{
        margin-left: 12%;
    }

   

}

@media (min-width: 768px) and (max-width: 1024px){

    #intro-video {
        width: 80%;    
        top: initial !important;
    }
    #intro p {
        font-size: 140%;

    }
    #intro .text-mob h2 {
        font-size: 240%;
        line-height: 40px;

    }
    #intro .text-mob .dark{
        font-size: 160% !important;
    }
    #intro{
        margin-top: -20%;
    }



    #explainer h2 {
        
        font-size: 240%;
    }    
    #explainer h3{
        font-size: 140%;
    }

    

    #about h3 {   
        font-size: 240%;
    }    
    #about h2{
        padding-bottom: 12px;
    }
    #minions video {
        width: 320px;
    }
    #about h2, #features h2, #vision h2, #multilang h2, #stat h2, #reviews h2, #awards h2 {
        font-size: 140% ;
    }
    #about img{
        width: 15%;
    }
    #about p{

        font-size: 150%;
    }
    #about{
       padding-bottom: 80%;
    }

    

    #features .text h2{
        font-size: 140%;
        text-align: center;
    }
    #features .text h1{
        font-size: 240%;
        margin-top: 18%;
        margin-bottom: 10%;
    }
    #features .text p{

        font-size: 140%;
    } 
    #features{
        padding-bottom: 50%;
        margin-top: -120%;

    }  
    



    #vision .text h1{
        font-size: 240%;
        line-height: 40px;

    }
    #vision .text h2{
        text-align: center;
        font-size: 140%;
        
    }
    #vision .text p{
        font-size: 140%;
    }

    #vision img {
        width: 80%;
        margin-left: 00px;
        float: center;
        padding-top: 100px;
    }
    #vision{
        padding-bottom: 60%;
    }
    


    #multilang .left h2{
        text-align: center;
        font-size: 140%;
    }
    #multilang .left h1{
        font-size: 240%;
        line-height: 35px;
    }
    #multilang .left p{
        font-size: 140%;
    }
    #shuff img {
        width: 300px;
        position: absolute;
        transition: all 0.4s;
    }
    #multilang .right{
        margin-left: 27%;
    }



   
    #stat{
        padding-top: 10%;
    }
    #stat h1{
        font-size: 240%;
    }

    #stat h2{
        font-size: 140%;
    }
    #statgrid img{
        width: 300px;
    }

    #statgrid div p {
        font-family: 'Open Sans', sans-serif;
        width: 50%;
        font-size: 180%;
        line-height: 30px;
        letter-spacing: 1px;
        margin:0 auto;
    }

    #statgrid div h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 240%;
    }



    #reviews h1{
        font-size: 240%;
        line-height: 35px;
    }
    #reviews h2{
        font-size: 140%;
    }



    #awards h1{
        font-size: 240%;
    }

    #contact .right h1{
        font-size: 240%;
        
    }
    #contact .right h3 {
        font-size: 140%;
        opacity: .6;
        letter-spacing: 1px;
    }
    #contact .right h2 {
        font-size: 180%;
        opacity: .6;
        letter-spacing: 1px;
    }
    #contact .right .socialicon{
        margin-left: 22%;
    }
}

@media only screen and (max-width: 600px){
            #about{
                /*margin-bottom: 60%;*/
            }
            #features .text h1{
                margin-top: 70px;
            }
}